name: cargo test --all

on:
  push:
    branches:
      - master
    pull_request:
      branches:
        - master

jobs:
  test:
    name: Test Suite
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
#        os: ["ubuntu-latest", "macos-latest"]
        os: ["macos-latest"]

    steps:
      # Ubuntu system dependencies required to build Postgres from sources
      - name: install linux postgres build dependencies
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sudo apt install -y clang llvm make curl

      - name: hack llvm-lto for linux
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sudo ln -s /usr/bin/llvm-lto-9 /usr/bin/llvm-lto

      # macOS system dependencies required to build Postgres from sources
      - name: install macos postgres build dependencies
        if: ${{ matrix.os == 'macos-latest' }}
        run: brew install wget llvm

      - name: hack llvm-ar for macos
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sudo ln -s /System/Volumes/Data/usr/local/Cellar/llvm/10.0.0_3/bin/llvm-ar /usr/bin/llvm-ar


      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all